@import "theme/theme_variables";  // <--------- Add your variables into this file. Also add variables to overwrite Bootstrap or UnderStrap variables here
@import "assets/bootstrap4";// <--------- Loads Bootstrap3 or Bootstrap4. Change from /bootstrap3 to /bootstrap4 Watch out! just for testing in the moment!
@import "understrap/understrap";// <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP
@import "understrap/woocommerce";// <-------- Loads WooCommerce style fixes. Comment out if you aren't using WooCommerce

//Optional files - If you dont use the corresponding scripts/fonts comment em out
@import "assets/font-awesome"; // <------- Font Awesome Icon font
@import "assets/underscores"; // <------- Underscores media styles

// Any additional imported files //
@import "theme/theme";  // <--------- That's where you can add your own design. Thats your part!
@import "theme/contact-form7"; // Contact Form 7 - Bootstrap 4 support



/*General rules -*-------------------------------------*/
a{
    color: blue;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 1200px){
    .container , .row {
        max-width: 1440px;
    }
}
.row {
    padding: 1em;
}

html,body {
    width: 100%;
    height: 100%;
}
.h2, h2 {
    font-size: 1rem;
}
.h1, h1{
    font-size: 1.5rem;
}
.hidden {
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    transition:all 0.5s ;
    -webkit-transition:all 0.5s ;   
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
    display: none;
}
/*mobile view-------------------------------------------------------------*/
@media (max-width: 1023px) { 
    body .hero-image,body .hero-color {
        width: 100%;
        height: 220px;
    }
    body .small.grid-item {
        grid-column: span 3 !important;
        grid-row: span 1 !important;
    }
    body .large .left-section {
        width: 100%;
        height: 50%;
        position: absolute;
    }
    body .right-large-container {
        width: 100%;
        position: absolute;
        right: 0;
        height: 50%;
        bottom: 0;
    }
    .medium .right.section {
        width: 100%;
        height: 50%;
        position: absolute;
    }
    body .medium .left-section {
        width: 100%;
        position: absolute;
        right: 0;
        height: 50%;
        bottom: 0;
    }         
    body .medium {
        grid-column: span 3;   
    }  
    p.category-selector {
        flex: 1;
        width: 100%;
        order: 2;
        font-size: 1em !important;
        display: flex !important;
        align-items: center;
        margin-top: 10px;
    }  
    p.category-selector > * {
        margin-right: 5px;
    }
    form#filter {
        flex: 1;
        width: 100%;
        order: 3;
        text-align: right;
    }  
    form.form-wrapper {
        flex: 1;
        width: 100%;
        order: 1;
    }
    .filters {
        display: flex;
        flex-direction: column;
        overflow: visible;
    }
 }
/*mobile view-------------------------------------------------------------*/


/*General rules -*-------------------------------------*/


/*navigation bar*/
body .bg-primary {
    background-color: transparent !important;
}
a.nav-link > span {
    width: 45PX;
    height: 45PX;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
}
span.nav-login {
    background: url(../../../../wp-content/uploads/2018/12/Path-3545.png);
}
span.mail-nav{
    background: url(../../../../wp-content/uploads/2018/12/Mail.png);
}
span.nav-expand {
    background: url(../../../../wp-content/uploads/2018/12/Group-898.png)
}

nav.navbar.navbar-expand-md.navbar-dark.bg-primary {
    padding-top: 2em;
}
/*navigation bar*/


/*hero navigation bar-----------------------------*/

ul.hero-slider.slick-initialized.slick-slider.slick-dotted {
    width: 100%;
}
.hero-image {
    width: 67%;
    height: 500px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
}
.hero-color {
    width: 33%;
    height: 500px;
}

.hero-image, .hero-color{
    float: left;
}
.hero-title a {
    color: white;
    font-size: 2.3em;
    padding: 0 1em;
    display: block;
}

.hero-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
ul.hero-slider.slick-initialized.slick-slider {
    width: calc( 100% + 40px);
    margin-left: -40px;
}

button.slick-prev.slick-arrow {
    left: 65px;
    z-index: 1;
    width: 50px;
    height: 50px;
    bottom: 45px;
    transform: none;   
    top: auto;
}
button.slick-next.slick-arrow {
    right: 65px;
    z-index: 1;
    width: 50px;
    height: 50px;
    bottom: 45px;
    transform: none;
    top: auto;
}
.slick-prev:before, .slick-next:before{
    font-size: 71px !important;  
}
.hero-avatar {
    position: absolute;
    bottom: 40px;
    margin-left: 2em;
}

/*hero navigation bar-----------------------------*/    
/*filter----------------------------------------------------*/
button#filter-button {
    visibility: hidden;
    width: 0;
    padding: 0;
    border: none;
    display: inline;
}
div#response {
    display: block;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 3em;
}
.post-counter {
    visibility: hidden;     
    height: 0;
}
.filters {
    display: flex;
    width: 100%;
}

form.form-wrapper {
    flex: 1;
    text-align: right;
}
.category-filter-container {
    flex: 1;
}
p.category-selector,form#filter {
    display: inline-block;
}
@media (min-width: 1024px){
    form.form-wrapper {
        float: right;
    }
}
input.search-button {
    border: none;
    background: url(../../../uploads/2018/12/Search.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    margin-left: -30px;   
    position: absolute;
    margin-top: 7px;
}
#filter > select {
    border: 1px solid #CFCFCF;
    height: 40px;
    padding-left: 1em;
}
p.category-selector {
    font-size: 1.5em;
    color: #ACACAC;
}

span.total-post,span.ds-bolder,#filter>select:first-child {
    color: #2E2E2E;
    font-weight: 700;
}
.goSearch input.popup-search-bar.search {
    height: 40px;
    width: 300px;
    padding-left: 1em;
    border-radius: 5px;

}


#filter>select {
    border-radius: 5px;
}
/*filter----------------------------------------------------*/


/*homepage grid system for posts-----------------------------------*/

div#response {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3,calc(33.33333% - .66em));
    
}
div#response > div.grid-item {
    min-height: 300px;    
    position: relative;
}
.small-tall {
    grid-row: span 2;
}
.large {  
    grid-column: span 3;
    grid-row: span 3;
    min-height: 590px !important;
    position: relative;

}    
.medium {
    position: relative;
    grid-row: span 2;
    grid-column: span 2;
}

#response .small h2 {
    color: white;
}
.small-grid-content,.content-medium {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: .5em 2em;
}

#response .small h3,#response .small-tall h3,#response .medium h3,#response .large h3 {
    color: white;
    font-size: 1.7em;
}
#response .small a {
    color: white;
}
.top-section {
    height: calc(50% - .5em + 1em);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
}
.bottom.section {
    height: calc(50% - .5em);
    position: relative;
}
.content-tall {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
#response p, #response h2, #response h3,#response h1,#response a {
    color: white;
}
.small-tall .bottom.section {
    padding-left: 2em;
    padding-right: 2em;
}
.medium .left-section {
    width: 50%;
    height: 100%;
    background-size: cover!important;
    background-position: 50% 50%!important;
    background-repeat: no-repeat!important;
    position: absolute;
    right: 0;
}
.right.section {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.large .left-section {
    width: 67.6%;
    height: 100%;
    position: absolute;
}
.right-large-container {
    width: 33.3%;
    position: absolute;
    right: 0;
    height: 100%;
}
.large-content {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
}
.large .avatar,.medium .avatar,.small-tall .avatar,.small .avatar {
    position: absolute;
    bottom: 0.5em;
    width: 45px;
    height: 45px;
    left: 1em;
}
div#wrapper-footer {
    background: #13252C;
    color: white;
}
#response .avatar img {
    max-width: 45px;
    max-height: 45px;
    border-radius: 100px;
}
.avatar.hover {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

.avatar p,.avatar h3 {
    visibility: hidden;
}

#response .avatar.hover img {
    position: relative;
    left: initial;
    bottom: initial;
}

.avatar.hover p,.avatar.hover h3 {
    margin: 0;
    visibility: visible;
    text-align: left;
}
.avatar.hover a {
    display: block;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
.post-author-data {
    width: 60%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}
.avatar.hover .post-author-data{
    position: absolute;
}
.avatar.hover a {
    text-align: right;
    padding-right: 1em;
    padding-left: 1em;
}
.avatar {
    transition: visibility 0s, opacity 0.5s linear;
    transition:all 0.5s ;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
}
body .post-author-data a {
    position: absolute !important;
}
.post-author-data a {
    width: 100% !important;
}
.post-author-data h3 {
    font-size: 21.76px !important;
}


.medium.grid-item {
    min-height: 590px !important;
}
.large .left-section {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: 50% 50% !important;
}
/*homepage grid system for posts-----------------------------------*/


/*footer--------------------------------------------------------------*/
footer a {
    color: white;
}
footer ul {
    padding-left: 18px;
}
footer a:hover {
    color: white;
}
ul.contact-us-footer {
    max-width: 182px;
}
p.footer-rights {
    text-align: center;
    width: 100%;
    margin-top: 3em;
}
/*footer--------------------------------------------------------------*/


/*author template---------------------------------*/
div.author-container div.title-spotlight {
    background: #2E2E2E;
    color: white;
    padding: .7em 1em;
    font-size: 1.5em;
    text-align: center;
}
.author-post-count {
    color: #979797;
}
.author-name-title {
    text-transform: capitalize;
    font-size: 19px;
}

body.archive.author {
    background: #F8F8F8;
}
.author-spotlight {
    background: white;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #C2C2C2;
}
body.author hr {
    border-color: #C2C2C2;
    width: calc(100% - 2em);
}
.author-archive-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3,calc(33.33333% - .66em));
}
.author-archive-container .small.grid-item {
    min-height: 225px;
    position: relative;
}
.author-archive-container .small.grid-item h1, .author-archive-container .small.grid-item h3 {
    color: white;      
}     
.author-archive-container .small.grid-item h3{
    font-size: 1.5em;
}
.author-archive-container .small.grid-item a {
    color: white;
}
.row.no-padding {
    padding-bottom: 0;
}
.author-meta {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
body.author img.avatar.avatar-96.current-author.photo {
    width: 100% !important;
    height: auto;
}
.author-avatar-image img.avatar.avatar-96.current-author.photo {
    border-radius: 100px;
}
.about-author-title {
    font-size: 1.5em;
    text-transform: capitalize;
}
/*author template---------------------------------*/




/*single post template ---------------------------*/
li.list-group-item a{
    padding: .75rem 1.25rem;
}
li.list-group-item {
    padding: 0;
}
.list-group-item strong {
    font-weight: unset;
}
li.list-group-item a {
    color: #333;
}

.list-group-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.featured-post-image {
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
}

ul.list-group.post-list {
    margin-top: 1em;
    top: 0 !important;
}
.featured-post-image-content h2 {
    color: white;
    margin-bottom: 1em;
    font-size: 1.5em;
}
.single img.avatar {
    max-width: 96px;
    border-radius: 100px;
}
.featured-post-image-content {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0%,50%);
}
.author-meta-single-post a {
    color: white;
}
.author-meta-single-post span {
    margin-left: 1em;
}

h1.single-post-title {
    color: #fff;
    font-size: 3em;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.single-tag-list a {
    color: #FF9B00;
}
.single blockquote {
    background: #F0F0F0;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 3em;
    padding-right: 3em;
    border-left: 5px solid #ff9b00;
    font-weight: 700;
    font-style: italic;
    position: relative;
    margin-top: 16px;
}
.single blockquote:before{
    content: '"';
    color: #BEBEBE;
    position: absolute;
    left: 1em;
    top: 0em;
}
.single blockquote:after {
    content: '"';
    color: #BEBEBE;
    position: absolute;
    right: 1em;
    bottom: 0em;
}
li.list-group-item.active {
    color: #212529;
    background: transparent;
    border: 1px solid rgba(0,0,0,.125);
    border-left: 5px solid #FF9B00;
    font-weight: 700;
}


/*social media*/

@media (min-width: 1024px){
    .post-content-container h2 {
        font-size: 1.5em;
        margin-top: 1em;
    }
    .norm_row.sfsi_wDiv {
        text-align: right !important;
    }
    .sfsi_widget {
        width: 225px;
        float: right;
    }
    .social-media-post.col-lg-6 {
        padding: 0;
    }
    
    
    .row.post-tags-and-social {
        padding: 0;
        padding-top: 1em;
    }
    .sfsi_wicons.shuffeldiv {
        width: 25px !important;
    }
    .row.post-tags-and-social {
        margin-bottom: -23px;
    }
    .single .sfsi_widget {
        margin-top: -10px;
    }

}

/*fix social media everywhere */
.addtoany_share_save_container.addtoany_content.addtoany_content_bottom{
    display: none;
}
.home select {
    background: white;
}
/*fix social media everywhere */
/*social media*/


/*single post template ---------------------------*/



/*footer *-----------------------------------------------------------------*/
ul.social-media-footer-icons a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}
footer ul {
    list-style: none;
    padding: 0;
}
span.footer-icons {
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: .5em;
}    
ul.social-media-footer-icons li {
    float: left;
    width: 50%;
    position: relative;
}
span.footer-icons.facebook {
    background: url(http://blog.designstudio.com/wp-content/uploads/2019/01/Subtraction-5.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
span.footer-icons.twitter {
    background: url(http://blog.designstudio.com/wp-content/uploads/2019/01/Subtraction-2.png);
    background-size: cover;
}
span.footer-icons.linkedin {
    background: url(http://blog.designstudio.com/wp-content/uploads/2019/01/Subtraction-4.png);
    background-size: cover;
}
span.footer-icons.instagram {
    background: url(http://blog.designstudio.com/wp-content/uploads/2019/01/Group-810.png);
    background-size: cover;
}
ul.social-media-footer-icons {
    max-width: 95px;
}
/*footer *-----------------------------------------------------------------*/

/*mobile--------------------------------------------------------------------------*/
@media (max-width: 1023px){    
    .category-filter-container {
        display: flex;
        overflow: hidden;
    }
    

    .filters > * {
        margin-bottom: .5em;
        order: 2;
    }
    button.slick-prev.slick-arrow {
        top: 150px;
        left: 50px;
    }

    button.slick-next.slick-arrow {
        top: 150px;
        right: 30px;
    }    
    footer .row, footer .container {
        padding: 0;
    }
    .goSearch {
        width: 100%;
        overflow: visible;
        position: relative;
    }
    .goSearch input.popup-search-bar.search {
        width: 100% !important;
    }     
    
    input.search-button {
        position: absolute;
        right: 13px;
        top: 0px;
    }
}
/*nav drop menu - desktop-----------------------------------------------------------*/
@media only screen and (min-width: 768px) {
    .navbar-expand-md ul.dropdown-menu.show {
        width: 75pc;
        height: 75pc;
        top: -35pc;
        right: -80px;
        position: fixed;
        border-radius: 50%;
        z-index: 900;
        background: #13252c;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-name: slidein;
        animation-name: slidein;
        box-sizing: border-box;
        font-weight: 300;
        font-size: 1rem;
        text-align: left;
        left: unset;
    }
    ul.dropdown-menu.show > li:first-child {
        margin-top: 45pc;
    }

    ul.dropdown-menu.show li {
        color: white;
        text-align: right;
        padding-right: 25pc;
        font-size: 50px;
        line-height: 1.2;
    }
    ul.dropdown-menu.show li a {
        color: white;
        font-weight: 300;
    }
    ul.dropdown-menu.show li a:hover {
        background-color: unset;
        -webkit-transition: .2s ease;
        transition: .2s ease;
        color: #fc6;
    }
    @keyframes slidein {
        from {
            width: 0;
            height: 25pc;
        }
        to {
            width: 75pc;
            height: 75pc;
        }
    }
    /*nav drop menu - mobile-----------------------------------------------------------*/

}

/*archive--------------*/
main#main {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3,calc(33.33333% - .66em));
}
.archive article {
    min-height: 300px;
    position: relative;
}

@media (max-width: 1023px){
    .archive article{
        grid-column: span 3!important;
        grid-row: span 1!important;
    }
}


/*archive--------------*/
/*mobile--------------------------------------------------------------------------*/